# Eclipse
/bin
.settings
.classpath
.project
.cache
.cache-*

# sbt
target/
src_managed/
lib_managed/
project/project/
project/target/

# Development
/_build
_assemble.*
newton-*.jar
buildinfo.*
TODO.txt

# Application
/_inputs

*.class
*.log
